@page
@model MoviesBlogRazor.WebApp.Pages.AboutFilmsModel
@{
    ViewData["Title"] = "О фильмах";
}

<h1 style="font-size: 40px" class="text-center">Что такое кинематограф?</h1>

<div style="text-align: justify">
    <p>
        Кинематограф — это область культуры и экономики, объединяющая все виды профессиональной деятельности,
        связанной с производством, распространением, хранением и показом фильмов, а также учебно-научную работу (киноведение).
    </p>

    <p>
        Значительной частью кинематографии является киноиндустрия — отрасль промышленности, производящая кинофильмы,
        спецэффекты к ним и анимацию. Во многих странах киноиндустрия является важной отраслью экономики. Производство
        кинофильмов сосредоточено в киностудиях. Готовые фильмы демонстрируются в кинотеатрах, по телевидению, распространяются
        на носителях информации для просмотра на домашней аудио-видео технике, в частности на видеокассетах и видеодисках.
    </p>

    <h2>Теория кино</h2>
    <p>
        Теория кино пытается разрабатывать короткие, систематические понятия, применяемые
        в исследовании кинофильма как искусства. Классическая теория кино обеспечивает структурный
        каркас, который заполняется традиционными вопросами технологии, сказания, кинематографического кода,
        образа, жанра, субъективности и авторства. Новые анализы породили психоаналитическую теорию кино,
        структуралистскую теорию кино, феминистскую теорию кино и другие.
    </p>

    <h2>Кинокритика</h2>
    <p>
        Кинокритика — это анализ и оценка фильмов. В целом ее можно разделить на научную
        критику фильма учеными, и на журналистскую критику, появляющуюся в газетах и других СМИ.
    </p>
    <p>
        Влияние рецензента на финансовые сборы от фильма является предметом дискуссии. 
        Некоторые утверждают, что киноиндустрия и маркетинг сейчас такие мощные и влиятельные, 
        что обозреватели не имеют никакого влияния на них. Однако были случаи полных провалов мощно 
        разрекламированных фильмов через негативные рецензии, как и случаи неожиданного успеха малобюджетных
        независимых фильмов благодаря положительной реакции критиков. Это может указывать, что особенно сильная 
        реакция критиков имеет определенное влияние. Другие отмечают, что положительная реакции на малоизвестные 
        фильмы может вызвать интерес к ним у зрителей. И наоборот, по некоторым фильмов их производители были настолько
        уверены, что отказывались давать кинокритикам разрешение на предварительный просмотр, чтобы держать сюжет фильма в 
        тайне до премьеры. Однако профессиональные критики даже в таких случаях могут предсказать, какой результат будет 
        фильм после выхода на экраны. Они опираются на информацию о его авторов, процесс съемок и тому подобное.
    </p>
</div>

