@page
@model MoviesBlogRazor.WebApp.Pages.ContactsModel
@{
    ViewData["Title"] = "Контакты";
}

<h1 style="font-size: 40px" class="text-center">Связаться со мной</h1>

<div style="text-align: justify">
    <p>
        Мне очень важно получать обратную связь от моих читателей.
        А получать положительную обратную связь вдвойне важнее и приятнее!
    </p>

    <p>
        Если у тебя есть ко мне вопросы, пожелания и предложения, не стесняйся писать мне на почту и в соц. сетях.
        Также у блога есть группа в VK, страница в Instagram, чат и канал в Telegram.
    </p>
    
    <p>
        Вступаем и подписываемся!
    </p>
    
    <div class="row">
        <div class="col-md-5">
            <div style="padding: 10px 0 0 0"><label style="font-weight: bold">Email:</label> my_email@yandex.ru</div>
            <div style="padding: 10px 0 0 0"><label style="font-weight: bold">VK:</label> vk.com/MyMoviesBlog</div>
            <div style="padding: 10px 0 0 0"><label style="font-weight: bold">Instagram:</label> @@MyMoviesBlog</div>
            <div style="padding: 10px 0 0 0"><label style="font-weight: bold">Telegram Chat:</label> t.me/chat5451669</div>
            <div style="padding: 10px 0 0 0"><label style="font-weight: bold">Telegram Channel:</label> t.me/channel7454469</div>
        </div>

        <div class="col-md-7">
            <img src="https://timesofsandiego.com/wp-content/uploads/2019/12/Trump-Phone.jpg" style="width: 100%; padding: 25px;">
        </div>
    </div>
</div>