@page
@model MoviesBlogRazor.WebApp.Pages.ReviewsModel
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery AntiForgery;

@{
    ViewData["Title"] = "Мои обзоры";
}

<h1>@ViewData["Title"]</h1>



@Html.Hidden("sortBy", "Title")
@Html.Hidden("orderBy", "Asc")

<div class="row" style="padding: 20px 20px 10px 20px">
    <div class="col-md-2">
        Сортировать по:
    </div>

    <label class="col-md-2 radio-inline"><input type="radio" name="RadioSortBy" onchange="sortByRadioButtonChange('Title')" checked> Название</label>
    <label class="col-md-2 radio-inline"><input type="radio" name="RadioSortBy" onchange="sortByRadioButtonChange('Rating')"> Рейтинг</label>
    <label class="col-md-2 radio-inline"><input type="radio" name="RadioSortBy" onchange="sortByRadioButtonChange('MyRating')"> Мой рейтинг</label>
</div>

<div class="row" style="padding: 0 20px 20px 20px">
    <div class="col-md-2" style="visibility: hidden">
        Сортировать по:
    </div>

    <label class="col-md-2 radio-inline"><input type="radio" name="RadioOrderDirection" onchange="orderDirectionRadioButtonChange('Asc')" checked> По возрастанию</label>
    <label class="col-md-2 radio-inline"><input type="radio" name="RadioOrderDirection" onchange="orderDirectionRadioButtonChange('Desc')"> По убыванию</label>
    
    <div class="col-md-6 text-right">
        <a asp-page="./MovieReviews/Create"> + Добавить обзор</a>
    </div>
</div>

<div id="ReviewsListContainer">

</div>


@section scripts{

    <script>
        $(document).ready(function () {
            refreshListOfReviews($('#sortBy').val(), $('#orderBy').val());
        });
    </script>

    <script>
        function sortByRadioButtonChange(_sortBy) {
            $('#sortBy').val(_sortBy);
            refreshListOfReviews($('#sortBy').val(), $('#orderBy').val());
        }
    </script>

    <script>
        function orderDirectionRadioButtonChange(_orderBy) {
            $('#orderBy').val(_orderBy);
            refreshListOfReviews($('#sortBy').val(), $('#orderBy').val());
        }
    </script>

    <script>
        function refreshListOfReviews(sortBy, orderBy) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var elementId = "ReviewsListContainer";
                    document.getElementById(elementId).innerHTML = this.responseText;
                }
            };
            var endpoint = "/MovieReviews/ListOfShortReviews?sortBy=" + sortBy + "&orderBy=" + orderBy;
            xhttp.open("GET", endpoint, true);
            xhttp.send();
        }
    </script>

    <script type="text/javascript">
        function getConfirmation(title, id) {
            var retVal = confirm("Do you want to delete review for \"" + title + "\" with id= " + id + "?");

            if (retVal == true) {
                // ajax here
                deleteReview(id);

                var elementId = "MovieReview" + id;

                document.getElementById(elementId).outerHTML = "";
                //document.write ("User wants to continue!");
                return true;
            } else {
                return false;
            }
        }
    </script>

    <script>
        function deleteReview(id) {
            var xhttp = new XMLHttpRequest();
            var endpoint = "/MovieReviews/Delete/" + id;
            //xhttp.setRequestHeader("RequestVerificationToken", "@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken");
            //xhttp.setRequestHeader('__RequestVerificationToken', $('input[name="__RequestVerificationToken"]').val());
            xhttp.open("POST", endpoint, true);
            xhttp.send();
        }
    </script>

    <script>
        function showFullReview(id) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var elementId = "MovieReview" + id;
                    var cardContainer = document.getElementById(elementId).innerHTML = this.responseText;

                    var buttonRowElementId = "MovieReview" + id + "_ButtonRow";
                    document.getElementById(buttonRowElementId).innerHTML +=
                        "<div class=\"col-md-9 text-right\">" + "<button type=\"button\" " +
                        "onclick=\"hideFullReview('" + id + "\')\">Скрыть обзор</button></div>";
                }
            };
            var endpoint = "/MovieReviews/FullMovieReviewEntity/" + id;
            xhttp.open("GET", endpoint, true);
            xhttp.send();
        }
    </script>

    <script>
        function hideFullReview(id) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var elementId = "MovieReview" + id;
                    var cardContainer = document.getElementById(elementId).innerHTML = this.responseText;

                    var buttonRowElementId = "MovieReview" + id + "_ButtonRow";
                    document.getElementById(buttonRowElementId).innerHTML +=
                        "<div class=\"col-md-9 text-right\">" + "<button type=\"button\" " +
                        "onclick=\"showFullReview('" + id + "\')\">Показать обзор</button></div>";
                }
            };
            var endpoint = "/MovieReviews/ShortMovieReviewEntity/" + id;
            xhttp.open("GET", endpoint, true);
            xhttp.send();
        }
    </script>
}

